/* Projects */
#projects {
	opacity: 0;
}

.project__wrapper {
	display: flex;
	margin-top: 70px;
	margin-bottom: 70px;
	color: #f5f5f5;
	border-bottom: 0;
}

.project__description {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 10px;
}

.project__title {
	font-family: "Space Mono", sans-serif;
	color: #f5f5f5;
	font-size: 40px;
	font-weight: 400;
	padding: 0 3px;
	background-color: #ee37b0;
	text-decoration: none !important;
	transition: transform .2s ease, border .2s ease;
}

.project__wrapper p {
	font-size: 30px;
	font-family: "Space Mono", sans-serif;
	font-weight: 300;
	line-height: 40px;
	margin: 0;
}

.project__description--sub {
	font-family: 'Space Mono';
	font-weight: 300;
}

.coincab .project__title:hover {
	transform: rotate(-1deg) scale(1.05);
}

.journaler .project__title:hover {
	transform: rotate(1deg) scale(1.05);
}

.colors .project__title:hover {
	transform: rotate(-1deg) scale(1.05);
}

.simplr .project__title:hover {
	transform: rotate(1deg) scale(1.05);
}
