.sun__wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
	padding-top: 255px;
}

/* .sun {
	width: 300px;
	height: 150px;
	border-top-left-radius: 600px;
  border-top-right-radius: 600px;
	box-shadow: 0 0 7rem #eabe7d;
	background: linear-gradient(to bottom, rgb(252, 229, 15) 0%, rgb(255, 130, 0) 100%);
	overflow: hidden;
} */







.sun {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -160px;
	background: #ffb058;
	background: linear-gradient(to bottom, #ffca58 0%, #ffb058 100%);
	border-radius: 50%;
  }

  .sun-glow-1 {
	background-color: rgba(255, 176, 88, 0.3);
	height: 380px;
	width: 380px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: -40px;
	z-index: 2;
	animation: sun-shine-2 2s linear infinite;
	animation-delay: 1s;
  }

  .sun-glow-2 {
	position: relative;
	background-color: rgba(255, 176, 88, 0.2);
	height: 380px;
	width: 380px;
	border-radius: 50%;
	top: -40px;
	left: -40px;
	z-index: 1;
	animation: sun-shine 2s linear infinite;
	/* animation-delay: 1s; */
  }

  .sun-glow-3 {
	position: relative;
	background-color: rgba(255, 176, 88, 0.1);
	height: 540px;
	width: 540px;
	border-radius: 50%;
	top: -120px;
	left: -120px;
	z-index: -1;
	animation: sun-shine 2s linear infinite;
  }


  @keyframes sun-shine {
	  0% {
		  transform: scale(1);
		  opacity: 0;
		}

		25% {
			transform: scale(1.02);
			opacity: 0.5;
		}

		50% {
			transform: scale(1.05);
			opacity: 1;
			}

		75% {
			opacity: 0.5;
		}

		100% {
			transform: scale(1.1);
			opacity: 0;
		}
  }

  @keyframes sun-shine-2 {
	0% {
		transform: scale(1);
		opacity: 0;
	  }

	  25% {
		  transform: scale(1.03);
		  opacity: 0.5;
	  }

	  50% {
		  transform: scale(1.07);
		  opacity: 1;
		  }

	  75% {
		  opacity: 0.5;
	  }

	  100% {
		  transform: scale(1.15);
		  opacity: 0;
	  }
}